body{
	font-family: sans-serif;
}

.container{
	width: 800px;
	margin: 0 auto;
}

.header{
	background-color: #eee;
	min-height: 50px;
	text-align: center;
}

.content{
	background-color: #ddd;
	min-height: 500px;
	overflow: auto;
}

.footer{
	background-color: #ccc;
	text-align: center;
	min-height: 50px;
	padding: 20px;
}

.logo img{
	width: 200px;
}

.menu ul{
	padding: 0;
}

.menu ul li{
	display: inline-block;
}

.mneu ul li a{
	padding: 10px 20px;
	text-decoration: none;
}

.thumbnail{
	background-color: white;
	text-align: center;
	padding: 10px;
	width:225px;
	margin: 10px;
	float: left;
	border-radius: 5%;
}

.thumbnail img{
	width: 100%;
	border-radius: 5%;
}

